AllowShortBlocksOnASingleLine: 'true'
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackParameters: 'false'
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: 'true'
IndentWidth: '4'
NamespaceIndentation: Inner
SortIncludes: 'true'
SpaceAfterCStyleCast: 'true'
Standard: Cpp11
TabWidth: '4'
UseTab: ForIndentation
SpaceAfterTemplateKeyword: 'true'
ColumnLimit: 0
AllowShortIfStatementsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
SeparateDefinitionBlocks: Always
